<!DOCTYPE html>
<html>
<head> 
    <title>Project Detail</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      	
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	
    <script type="text/javascript" 
      	th:src="@{/js/ext/jquery-3.6.0-min.js}"></script>
    <script type="text/javascript" th:src="@{/js/tasks/detail.js}"></script>
</head>
<body onload="taskInit()">
<a id="BackToProject" href="/projects/detail?id=" class="btn">Back</a>
<h1>The Task: </h1>
<input id="Status" style="border: unset; font-size: 18px;"></input><br><br>
<form id="task-detail">
  <label for="TaskName">TaskName:</label>
  <input type="text" id="TaskName" name="TaskName"><br><br>
  <label for="StartedDate">Started Date:</label>
  <input type="date" id="StartedDate" name="StartedDate"><br><br>
  <label for="ExpectedDueDate">Expected Due Date:</label>
  <input type="date" id="ExpectedDueDate" name="ExpectedDueDate"><br><br>
  <label for="Difficulty">Difficulty:</label>
  <select id="Difficulty" name="Difficulty">
		 <option value="0">A Piece of Cake</option>
		 <option value="1">Easy</option>
		 <option value="2">Medium</option>
		 <option value="3">Need Some Research</option>
		 <option value="4">Difficult</option>
		 <option value="5">Need Research Before Evaluate</option>
  </select><br><br>
  <label for="Progress">Current Progress:</label>
  <input type="number" id="Progress" max="100" min="0" name="ExpectedDueDate"
  	style="width: 30px;">%<br><br>
  <label id="PrerequisitesLabel" for="Prerequisites">Prerequisites:</label><br>
  <select multiple id="Prerequisites" name="Prerequisites">
  </select><br><br>
</form>
<button onclick="onModifyClick()">modify</button>
</body>
</html>