<html>
<head> 
    <title>Task List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" 
      	th:src="@{/js/ext/jquery-3.6.0-min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/tasks/list.css}"/>
</head>
<body>
	<button onclick="onCreateTaskClick()">create task</button>
	<table id="TaskList" style="width:100%">
	  <tr>
	    <td>Task Name</td>
	    <td>started date</td>
	    <td>expected due date</td>
	    <td>difficulty</td>
	    <td>status</td>
	  </tr>
	</table>
</body>
<!-- The Modal -->
<div id="taskCreation" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<span class="close" onclick="onCreateTaskModalClosed()">&times;</span>
    <form id="task-detail">
	  <label for="TaskName">TaskName:</label>
	  <input type="text" id="TaskName" name="TaskName"><br><br>
	  <label for="StartedDate">Started Date:</label>
	  <input type="date" id="StartedDate" name="StartedDate"><br><br>
	  <label for="ExpectedDueDate">Expected Due Date:</label>
	  <input type="date" id="ExpectedDueDate" name="ExpectedDueDate"><br><br>
	  <label for="Difficulty">Difficulty:</label>
	  <select id="Difficulty" name="Difficulty">
			 <option value="0">A Piece of Cake</option>
			 <option value="1">Easy</option>
			 <option value="2">Medium</option>
			 <option value="3">Need Some Research</option>
			 <option value="4">Difficult</option>
			 <option value="5">Need Research Before Evaluate</option>
	  </select><br><br>
  	  <label id="PrerequisitesLabel" for="Prerequisites">Prerequisites:</label><br>
	  <select multiple id="Prerequisites" name="Prerequisites">
	  </select><br><br>
	</form>
	<button onclick="onCreateClick()">create</button>
  </div>
</div>
</html>