<!DOCTYPE HTML>
<html>
	<head> 
	    <title>Getting Started: Study</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <script type="text/javascript" 
        	th:src="@{/js/ext/jquery-3.6.0-min.js}"></script>
		<script type="text/javascript" th:src="@{/js/include-header.js}"></script>
		<script type="text/javascript" th:src="@{/js/index.js}"></script>
	</head>
	
	<body>
		<div id="header"></div>
	    <p>Create Your Project <a href="/projects/creation">here</a></p>
	    <p>Get your own Project <a href="/projects">here</a></p>
		<div id="footer"></div>
	</body>
</html>
