<!DOCTYPE html>
<html>
<head> 
    <title>Project Detail</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      	
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	
    <script type="text/javascript" 
      	th:src="@{/js/ext/jquery-3.6.0-min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tasks/list.js}"></script>
    <script type="text/javascript" th:src="@{/js/projects/detail.js}"></script>
</head>
<body onload="projectInit(taskListInit)">
<h1>Your Project: </h1>
<form id="project-detail">
  <label for="ProjectName">ProjectName:</label>
  <input type="text" id="ProjectName" name="ProjectName"><br><br>
  <label for="StartedDate">Started Date:</label>
  <input type="date" id="StartedDate" name="StartedDate"><br><br>
  <label for="ExpectedDueDate">Expected Due Date:</label>
  <input type="date" id="ExpectedDueDate" name="ExpectedDueDate"><br><br>
  <label for="Difficulty">Difficulty:</label>
  <select id="Difficulty" name="Difficulty">
		 <option value="0">A Piece of Cake</option>
		 <option value="1">Easy</option>
		 <option value="2">Medium</option>
		 <option value="3">Need Some Research</option>
		 <option value="4">Difficult</option>
		 <option value="5">Need Research Before Evaluate</option>
  </select><br><br>
</form>
<button onclick="onModifyClick()">modify</button>

<div w3-include-html="/tasks"></div>
</body>
<script>
	w3IncludeHTML();
</script>
</html>