<!DOCTYPE html>
<html>
<head> 
    <title>Project List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script type="text/javascript" 
      	th:src="@{/js/ext/jquery-3.6.0-min.js}"></script>
    <script type="text/javascript" th:src="@{/js/projects/list.js}"></script>
</head>
<body onload="projectListInit()">
	<h1>All projects that owned by you: </h1>
	
	<table id="ProjectList" style="width:100%">
	  <tr>
	    <td>Project Name</td>
	    <td>startedDate</td>
	    <td>expectedDueDate</td>
	    <td>difficulty</td>
	    <td>status</td>
	  </tr>
	</table>
</body>
</html>

